In [1]:
from dotenv import load_dotenv

In [2]:
import os

In [8]:
print(os.getenv('OPENAI_API_KEY'))

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

In [17]:
from langchain_core.prompts import ChatPromptTemplate

template = """
Based on the schema below wirte Sql queries to answer the following question:
{schema}

Question: {question}

Sql Query:
"""

prompt = ChatPromptTemplate.from_template(template)

In [ ]:
# prompt.format(schema= "myshema", question="my question")

In [26]:
from sqlalchemy import create_engine
from langchain_community.utilities import SQLDatabase

# Define the connection URI
mysql_uri = "mysql+mysqlconnector://root:@localhost:3306/classicmodels"

# Create an SQLAlchemy engine
engine = create_engine(mysql_uri)

# Pass the engine to SQLDatabase
db = SQLDatabase(engine)

In [30]:
db.run("show tables")

"[('customers',), ('employees',), ('offices',), ('orderdetails',), ('orders',), ('payments',), ('productlines',), ('products',)]"

In [37]:
def get_schema(_):
    schema = db.get_table_info()
    return schema

In [ ]:
# get_schema(None)

'\nCREATE TABLE customers (\n\t`customerNumber` INTEGER(11) NOT NULL, \n\t`customerName` VARCHAR(50) NOT NULL, \n\t`contactLastName` VARCHAR(50) NOT NULL, \n\t`contactFirstName` VARCHAR(50) NOT NULL, \n\tphone VARCHAR(50) NOT NULL, \n\t`addressLine1` VARCHAR(50) NOT NULL, \n\t`addressLine2` VARCHAR(50), \n\tcity VARCHAR(50) NOT NULL, \n\tstate VARCHAR(50), \n\t`postalCode` VARCHAR(15), \n\tcountry VARCHAR(50) NOT NULL, \n\t`salesRepEmployeeNumber` INTEGER(11), \n\t`creditLimit` DECIMAL(10, 2), \n\tPRIMARY KEY (`customerNumber`), \n\tCONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_general_ci ENGINE=InnoDB\n\n/*\n3 rows from customers table:\ncustomerNumber\tcustomerName\tcontactLastName\tcontactFirstName\tphone\taddressLine1\taddressLine2\tcity\tstate\tpostalCode\tcountry\tsalesRepEmployeeNumber\tcreditLimit\n103\tAtelier graphique\tSchmitt\tCarine \t40.32.2555\t54, rue Royale\tNone\tNantes\tNone\t44000\tFrance\t1370\t21000.00\n112\tSignal Gift Stores\tKing\tJean\t7025551838\t8489 Strong St.\tNone\tLas Vegas\tNV\t83030\tUSA\t1166\t71800.00\n114\tAustralian Collectors, Co.\tFerguson\tPeter\t03 9520 4555\t636 St Kilda Road\tLevel 3\tMelbourne\tVictoria\t3004\tAustralia\t1611\t117300.00\n*/\n\n\nCREATE TABLE employees (\n\t`employeeNumber` INTEGER(11) NOT NULL, \n\t`lastName` VARCHAR(50) NOT NULL, \n\t`firstName` VARCHAR(50) NOT NULL, \n\textension VARCHAR(10) NOT NULL, \n\temail VARCHAR(100) NOT NULL, \n\t`officeCode` VARCHAR(10) NOT NULL, \n\t`reportsTo` INTEGER(11), \n\t`jobTitle` VARCHAR(50) NOT NULL, \n\tPRIMARY KEY (`employeeNumber`), \n\tCONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`), \n\tCONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_general_ci ENGINE=InnoDB\n\n/*\n3 rows from employees table:\nemployeeNumber\tlastName\tfirstName\textension\temail\tofficeCode\treportsTo\tjobTitle\n1002\tMurphy\tDiane\tx5800\tdmurphy@classicmodelcars.com\t1\tNone\tPresident\n1056\tPatterson\tMary\tx4611\tmpatterso@classicmodelcars.com\t1\t1002\tVP Sales\n1076\tFirrelli\tJeff\tx9273\tjfirrelli@classicmodelcars.com\t1\t1002\tVP Marketing\n*/\n\n\nCREATE TABLE offices (\n\t`officeCode` VARCHAR(10) NOT NULL, \n\tcity VARCHAR(50) NOT NULL, \n\tphone VARCHAR(50) NOT NULL, \n\t`addressLine1` VARCHAR(50) NOT NULL, \n\t`addressLine2` VARCHAR(50), \n\tstate VARCHAR(50), \n\tcountry VARCHAR(50) NOT NULL, \n\t`postalCode` VARCHAR(15) NOT NULL, \n\tterritory VARCHAR(10) NOT NULL, \n\tPRIMARY KEY (`officeCode`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_general_ci ENGINE=InnoDB\n\n/*\n3 rows from offices table:\nofficeCode\tcity\tphone\taddressLine1\taddressLine2\tstate\tcountry\tpostalCode\tterritory\n1\tSan Francisco\t+1 650 219 4782\t100 Market Street\tSuite 300\tCA\tUSA\t94080\tNA\n2\tBoston\t+1 215 837 0825\t1550 Court Place\tSuite 102\tMA\tUSA\t02107\tNA\n3\tNYC\t+1 212 555 3000\t523 East 53rd Street\tapt. 5A\tNY\tUSA\t10022\tNA\n*/\n\n\nCREATE TABLE orderdetails (\n\t`orderNumber` INTEGER(11) NOT NULL, \n\t`productCode` VARCHAR(15) NOT NULL, \n\t`quantityOrdered` INTEGER(11) NOT NULL, \n\t`priceEach` DECIMAL(10, 2) NOT NULL, \n\t`orderLineNumber` SMALLINT(6) NOT NULL, \n\tPRIMARY KEY (`orderNumber`, `productCode`), \n\tCONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`), \n\tCONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_general_ci ENGINE=InnoDB\n\n/*\n3 rows from orderdetails table:\norderNumber\tproductCode\tquantityOrdered\tpriceEach\torderLineNumber\n10100\tS18_1749\t30\t136.00\t3\n10100\tS18_2248\t50\t55.09\t2\n10100\tS18_4409\t22\t75.46\t4\n*/\n\n\nCREATE TABLE orders (\n\t`orderNumber` INTEGER(11) NOT NULL, \n\t`orderDate` DATE NOT NULL, \n\t`requiredDate` DATE NOT NULL, \n\t`shippedDate` DATE, \n\tstatus VARCHAR(15) NOT NULL, \n\tcomments TEXT, \n\t`customerNumber` INTEGER(11) NOT NULL, \n\tPRIMARY KEY (`orderNumber`), \n\tCONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_general_ci ENGINE=InnoDB\n\n/*\n3 rows from orders table:\norderNumber\torderDate\trequiredDate\tshippedDate\tstatus\tcomments\tcustomerNumber\n10100\t2003-01-06\t2003-01-13\t2003-01-10\tShipped\tNone\t363\n10101\t2003-01-09\t2003-01-18\t2003-01-11\tShipped\tCheck on availability.\t128\n10102\t2003-01-10\t2003-01-18\t2003-01-14\tShipped\tNone\t181\n*/\n\n\nCREATE TABLE payments (\n\t`customerNumber` INTEGER(11) NOT NULL, \n\t`checkNumber` VARCHAR(50) NOT NULL, \n\t`paymentDate` DATE NOT NULL, \n\tamount DECIMAL(10, 2) NOT NULL, \n\tPRIMARY KEY (`customerNumber`, `checkNumber`), \n\tCONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_general_ci ENGINE=InnoDB\n\n/*\n3 rows from payments table:\ncustomerNumber\tcheckNumber\tpaymentDate\tamount\n103\tHQ336336\t2004-10-19\t6066.78\n103\tJM555205\t2003-06-05\t14571.44\n103\tOM314933\t2004-12-18\t1676.14\n*/\n\n\nCREATE TABLE productlines (\n\t`productLine` VARCHAR(50) NOT NULL, \n\t`textDescription` VARCHAR(4000), \n\t`htmlDescription` MEDIUMTEXT, \n\timage MEDIUMBLOB, \n\tPRIMARY KEY (`productLine`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_general_ci ENGINE=InnoDB\n\n/*\n3 rows from productlines table:\nproductLine\ttextDescription\thtmlDescription\timage\nClassic Cars\tAttention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking\tNone\tNone\nMotorcycles\tOur motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends \tNone\tNone\nPlanes\tUnique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o\tNone\tNone\n*/\n\n\nCREATE TABLE products (\n\t`productCode` VARCHAR(15) NOT NULL, \n\t`productName` VARCHAR(70) NOT NULL, \n\t`productLine` VARCHAR(50) NOT NULL, \n\t`productScale` VARCHAR(10) NOT NULL, \n\t`productVendor` VARCHAR(50) NOT NULL, \n\t`productDescription` TEXT NOT NULL, \n\t`quantityInStock` SMALLINT(6) NOT NULL, \n\t`buyPrice` DECIMAL(10, 2) NOT NULL, \n\t`MSRP` DECIMAL(10, 2) NOT NULL, \n\tPRIMARY KEY (`productCode`), \n\tCONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)\n)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_general_ci ENGINE=InnoDB\n\n/*\n3 rows from products table:\nproductCode\tproductName\tproductLine\tproductScale\tproductVendor\tproductDescription\tquantityInStock\tbuyPrice\tMSRP\nS10_1678\t1969 Harley Davidson Ultimate Chopper\tMotorcycles\t1:10\tMin Lin Diecast\tThis replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive \t7933\t48.81\t95.70\nS10_1949\t1952 Alpine Renault 1300\tClassic Cars\t1:10\tClassic Metal Creations\tTurnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening \t7305\t98.58\t214.30\nS10_2016\t1996 Moto Guzzi 1100i\tMotorcycles\t1:10\tHighway 66 Mini Classics\tOfficial Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,\t6625\t68.99\t118.94\n*/'

In [55]:
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_openai import ChatOpenAI

llm = ChatOpenAI()

sql_chain = (
    RunnablePassthrough.assign(schema=get_schema) # For the RunnablePassthrough towork function should be consist with at least one parameter
    | prompt
    | llm
    | StrOutputParser()
)

In [56]:
user_question = 'Give the product name with its text description'
sql_chain.invoke({"question": user_question})

'SELECT p.productName, pl.textDescription\nFROM products p\nJOIN productlines pl ON p.productLine = pl.productLine;'

In [61]:
template = """Based on the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}"""
prompt_response = ChatPromptTemplate.from_template(template)

In [57]:
def run_query(query):
    return db.run(query)

In [64]:
full_chain = (
    RunnablePassthrough.assign(query=sql_chain).assign(
        schema = get_schema,
        response = lambda vars: run_query(vars["query"])
    )
    | prompt_response
    | llm
    | StrOutputParser()
)

In [ ]:
user_question = 'how many tables in the database?'

'There are 7 tables in the database.'